/* 全局定义 */

body {
    font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;
    color: #444;
    background: #F7F7F7;
    min-width: 1065px;
}
.frame{background:transparent !important;}

.wp{width:1065px !important;}

.fl {
    border: 1px solid #DDDDDD;
}
.bm {
    border: 1px solid #DDDDDD;
}
.fl .bm_h {
    border-width: 1px 0;
    border-color: #DDDDDD;
    background: #F2F2F2;
}
.bmw .bm_h {
    border:none;
}
.pnc, a.pnc {
    border-color: #fd6440;
    background-color: #fd6440;
    background-position: 0 -48px;
    color: #FFF !important;
}
.pn {
    background: #fd6440;
}
.extstyle{
background: url(template/cony_xc/image/color.svg)no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#cony_colormin{
    padding: 6px 10px 10px;
    border: 1px solid;
    min-width: 60px;
    border-color: #DDD;
    background: #FEFEFE;
    position: absolute;
}

/* 面包屑导航 */

.nvhm {
    width: 16px;
    background: url('{STYLEIMGDIR}/icon.png') no-repeat -320px 7px !important;
    line-height: 200px;
    overflow: hidden;
}
#pt .z em {
    width: 20px;
    background: url('{STYLEIMGDIR}/icon.png') no-repeat -336px 11px !important;
    line-height: 200px;
    overflow: hidden;
}
#pt .z a{color:#8F8F8F;text-decoration:none!important;}
#pt .z a:hover{color:#ff6f3d;text-decoration:none!important;}
#pt{padding-top:10px;}


/* 顶部隐藏 */

#toptb{display:none !important;}

/* 重置头部 */

#hd {
    height:164px !important;
    background-color: rgb(249, 249, 249);
}

.cony_qq{
font-family: "Microsoft YaHei", Tahoma, Helvetica, SimSun, sans-serif;
display: block;
    width: 54px;
    height: 21px;
    color: #fc7050;
    font-weight: normal;
    float: left;
    margin-left: 25px;
    margin-top: 40px;
    background-image: url('{STYLEIMGDIR}/qq.png');
    padding-left: 29px;
    line-height: 21px;
text-decoration: none !important;
}


/* 重置导航 */

.cony_nv{
	width: 100%;
    background-color: #fd6440;
    height: 48px;
}

#nv{
	background:none !important;
	width: 1065px;
    margin: 0 auto;
    height:48px;
}
#nv li.a {
    margin-left: 0px;
    background: #f75733;
	transition:0.2s;
}
#nv li.hover a:hover, #nv li.hover a {
    background: #f75733;
}
#nv li a:hover {
    background: #f75733;
}
#nv li {
    float: left;
    padding-right: 1px;
    height: 48px;
    line-height: 48px !important;
    background: none;
    font-weight: 100;
    font-size: 14px;
	transition:0.2s;
}
#nv li a {
    float: left;
    padding: 0 15px;
    height: 48px !important;
	text-decoration:none !important;
	transition:0.2s;
}
#qmenu{
    float: right;
    display: inline;
    margin: 18px 0 0;
    padding-right: 0px;
    width: 13px;
    height: 12px;
    background: url('{STYLEIMGDIR}/icon.png')no-repeat -58px -75px transparent;
    line-height: 24px;
    text-align: center;
    color: #369;
    font-weight: 700;
    overflow: hidden;
}
#qmenu_menu {
    margin-top: -2px;
    padding: 20px 5px 10px;
    width: 610px;
    border-color: #DCE4EB;
    box-shadow: 0 8px 16px -6px grey;
    border-radius: 5px;
    background: #f8f8f8;
}
#cony_qqmin{
    position: absolute;
    margin-left: 40px;
    margin-top: -50px;
    border: 1px solid #fd6440;
    text-align: center;
    font-size: 12px;
    color: #656565;
    z-index: 999;
    background-color: #fff;
    padding: 12px;
    width: 150px;
    text-align: left;
    display:none;
}
.cony_qq:hover #cony_qqmin{display:block !important;}

/* 重置二级导航 */
#cony_pop .p_pop{
    padding: 4px;
    border: 1px solid;
    min-width: 120px;
    border-color: transparent;
    background: #f75733;
    box-shadow: none;
	transition:0.2s;
}
#cony_pop .p_pop a {
    display: block;
    padding: 8px 5px;
    border-bottom: 1px solid #e5edf247;
    white-space: nowrap;
    color: #FFF;
}
#cony_pop .p_pop a:hover, #cony_pop .p_pop a.a{
    background-color: #FFF;
    color: #f75733;
    text-decoration: none;
}

/* 重置搜索栏 */
#scbar_txt {
    border: 1px solid #FFF !important;
    outline: none !important;
    width: 260px !important;
    line-height: 35px !important;
    letter-spacing: 1px !important;
    text-indent: 10px !important;
}
#scbar {
	float:right;
    overflow: hidden;
    line-height: 42px !important;
    border-top: none;
    border-bottom: none;
    background: none;
    width: 350px;
	margin-top:50px;
	height: 80px !important;
    margin-top: 15px;
}
.scbar_icon_td {
    width: 21px;
    background: none;
    display: none;
}
.scbar_txt_td, .scbar_type_td {
	float:left;
    background: none !important;
    height: 38px !important;
    border: 1px solid #DDD;
    border-right: none;
    width: 263px;
    float: left;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    background: #FFF;
    position: relative;
}
.scbar_type_td {
	display:none;
    width: 61px;
    background: none;
}
.scbar_btn_td{
	float: left;
    background: #fd6440;
    color: #FFF;
    width: 80px;
    height: 40px !important;
    border: none;
    border-radius: 0;
    padding: 0;
	transition:0.2s;
}
.scbar_btn_td:hover{
    background: #f75733;
}
#scbar_btn {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent none;
    box-shadow: none;
    height: 40px !important;
    width: 80px;
	outline: none;
}
#scbar_btn strong {
    line-height: 40px;
    font-family: Microsoft yahei,Verdana,Arial;
    color: #FFF !important;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}
.scbar_narrow #scbar_txt {
    width: 260px;
    line-height: 35px !important;
    letter-spacing: 1px;
    text-indent: 10px;
    height:35px !important;
}

/* 用户信息栏 */
.switchwidth{
	background: url('{STYLEIMGDIR}/icon.png') no-repeat -22px 5px transparent;
    width: 20px;
    height: 28px !important;
    display: inline-block;
    margin-top: -3px;
}
.switchwidth:hover {
    background: url('{STYLEIMGDIR}/icon.png') no-repeat -22px 5px transparent;
}
#cony_member_before{
	height: 30px;
    line-height: 20px;
}
#cony_member_before li{
	float: right;
    color: #7c7c7c;
	text-decoration：none !important;
}
#cony_member_before li a{
    color: #7c7c7c;
	text-decoration: none;
}
#cony_member_before li a:hover{
    color: #ff6f3d;
	text-decoration: none;
}
#cony_member_before .pipe{
    color: #E7E7E7;
    margin-left: 8px;
}
#cony_member_login{
    height: 30px;
    line-height: 20px;
	margin: 5px 5px 0 0;
}
#cony_member_login .li{
	float: right;
    color: #7c7c7c;
}
#cony_member_login li a {
    color: #7c7c7c;
    text-decoration: none;
}
#cony_member_login li a:hover{
    color: #ff6f3d;
	text-decoration: none;
}
#cony_member_login .cony_my img{
	float: left;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-right: 5px;
	margin-top:-3px;
}
#cony_member_login .name{
	float: left;
}
#cony_member_login .tx{
	display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: #fc7050;
    color: #fff;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    margin-left: 5px;
    float: left;
}
#cony_member_login .up{
    display: inline-block;
    background: url('{STYLEIMGDIR}/icon.png') no-repeat -80px -80px;
    height: 7px;
    width: 10px;
    margin-left: 3px !important;
}
#cony_member_login .pipe {
    color: #E7E7E7;
    margin-left: 8px;
}
#cony_myhover{
    position: absolute;
    width: 188px;
    height: 268px;
    margin-left: -80px;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 6px -4px grey;
    -moz-box-shadow: 0px 4px 6px -4px gray;
    box-shadow: 0px 4px 6px -4x gray;
    margin-top: -30px;
}
#cony_myhover .tx{
    display: inline-block;
    min-width: 8px;
    height: 14px;
    border-radius: 3px;
    font-weight: 700;
    background: #fc7050;
    color: #fff;
    line-height: 14px;
    text-align: center;
    margin-left: 2px;
    font-family: Arial,sans-serif;
    float: left;
    margin-top: 2.5px;
}
#cony_myhover .top{
    width: 188px;
    height: 40px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f8f8f8;
    line-height: 40px;
}
#cony_myhover .top img{
    margin-top: 10px;
    margin-left: 30%;
	float: left;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    margin-right: 5px;
}
#cony_myhover .name{
	float: left;
}
#cony_myhover .up{
	display: inline-block;
    background: url('{STYLEIMGDIR}/icon.png') no-repeat -80px -80px;
    height: 7px;
    width: 10px;
    margin-left: 3px;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}
#cony_myhover .centerul{
    margin: 14px 4px 4px 28px;
}
#cony_myhover .centerli{
    color: #5a5a5a;
    margin-bottom: 1px;
    height: 20px;
}
#cony_myhover .bottom{
    margin: 12px 10px 0 10px;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
    padding-top: 9px;
}
#cony_myhover .bottomul{
	margin-left: 10px;
}
#cony_myhover .btli{
    float: left;
    width: 50%;
    height: 38px;
}
#cony_myhover .icon{
    width: 15px;
    height: 15px;
    background: url('{STYLEIMGDIR}/icon.png') 0 -40px no-repeat transparent;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 3px;
}
#cony_myhover .a{
    background-position: -170px -40px;
}
#cony_myhover .b{
     background-position: -110px -40px;
}
#cony_myhover .c{
    background-position: -90px -40px;
}
#cony_myhover .d{
    background-position: -70px 0px;
}
#cony_myhover .e{
    background-position: -130px -42px;
}
#cony_myhover .f{
    background-position: -130px -1px;
}
#cony_myhover .bottomul a:hover .a{
    color:rgb(255, 95, 25);
	background-position: -170px -57px;
}
#cony_myhover .bottomul a:hover .b{
    color:rgb(255, 95, 25);
	background-position: -110px -57px;
}
#cony_myhover .bottomul a:hover .c{
    color:rgb(255, 95, 25);
	background-position: -90px -57px;
}
#cony_myhover .bottomul a:hover .d{
    color:rgb(255, 95, 25);
	background-position: -70px -15px;
}
#cony_myhover .bottomul a:hover .e{
    color:rgb(255, 95, 25);
	background-position: -130px -59px;
}
#cony_myhover .bottomul a:hover .f{
    color:rgb(255, 95, 25);
	background-position: -130px -16px;
}

/* 首页DIY */
#cony_diy{margin-bottom:10px;}
.slide-player { position:relative; overflow:hidden; width:432px; height:267px;border-radius: 5px 0 0 5px;margin-top:2px;}
.cnt-sub .slide-player span { height:50px; font:20px/50px "microsoft yahei"; }
.slide-player .slide-item { position:absolute; top:0; left:0; width:100%; height:100%; }
.slide-item a, .slide-item a:visited { display:block; width:100%; height:100%; color:#FFF; }
.slide-item a:hover { color:#FFF; text-decoration:none; }
.slide-item img { width:100%; height:100%; }
.slide-page { position:absolute; right:0; bottom:8px; }
.slide-item span { position:absolute; left:0; bottom:0; display:block; width:100%; height:21px; text-indent:5px; line-height:21px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000'); background:rgba(0,0,0,0.4); overflow:hidden; }
.slide-player .slide-page a, .slide-player .slide-page a:visited { float:left; margin-right:8px; padding-top:10px; width:10px; height:0; text-align:center; font:700 12px/15px Simsun; background:rgb(156,156,156); border-radius:6px; overflow:hidden; }
.slide-player .slide-page .on, .slide-player .slide-page .on:visited { text-decoration:none; color:#FFF; background:#FFF; }
#cony_diy .tablist{
	width: 100%;
    height: 240px;
    float: left;
    background: #ffffff;
    padding: 15px 17px 17px 17px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ebeaea;
    border-left: none;
}

#cony_diy .tablist li{
	margin: 2px 0;
}

#cony_diy .other{
	margin-top: 10px !important;
    padding-left: 10px;
    background: url('{STYLEIMGDIR}/hot_li_dotted.png') 0 50% no-repeat;
    overflow: hidden;
    height: 20px;
}
#cony_diy .tablist a{
	color: #8F8F8F;
    text-decoration: none;
}
#cony_diy .tablist a:hover {
    text-decoration: none;
    color: #ff6f3d;
}
#cony_diy .tablistfist{
	zoom: 1;
	margin-bottom:20px;
}
#cony_diy .tablistfist dt{
    padding: 0px;
    margin-bottom: 3px;
    text-align: center;
	font-weight: 700;
}
#cony_diy .tablistfist dt a{
	font-size: 20px;
    font-family: 'Microsoft YaHei';
    color: #ff5e00;
}
#cony_diy .tablistfist dd{
    color: #909090;
	margin-bottom:8px;
}

/* 首页数据优化 */
#chart{
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 10px !important;
    margin-top: 10px;
}
.chartsp{
    padding-left: 40px;
    margin-right: 20px;
    text-align: center;
    float:left;
    color:#9E9E9E;
}
#chart .y{margin-top:10px;}
.today{
background: url('{STYLEIMGDIR}/today.png') left center no-repeat;
}
.yestps{
background: url('{STYLEIMGDIR}/yestps.png') left center no-repeat;
}
.meb{
background: url('{STYLEIMGDIR}/meb.png') left center no-repeat;
}
.newmx{
background: url('{STYLEIMGDIR}/newmx.png') left center no-repeat;
}


/* 在线会员列表 */
#online .bm {
    border: none !important;
    background: #FFF;
}
#online .bm_h {
    border-width: 0;
    border-color: transparent;
    background: #FFF;
    padding: 16px 20px 10px;
    border-bottom: 1px solid #e6eced;
}
#online .bm_h strong a {
    color: #262626;
    text-decoration: none;
    font-size: 16px;
}
#online .xs1{
    color: #666666;
}
.oll li {
    height: 35px !important;
}
#onlinelist .cony_onlineav {
    width: 26px;
    height: 26px;
    margin: 0px;
    padding: 2px;
    border: 1px solid #b9b9b9;
}
#online .pbm {
    padding-bottom: 10px !important;
    padding-left: 10px;
}
#onlinelist .grouptb {
    position: absolute;
    margin-left: -10px;
    margin-top: 24px;
    width: 10px;
}


/* 页尾定义 */
.tz_footer{
background: #2F2F2F;
color: #7E7E7E;
}
.footer_top{
    width: 1265px;
    margin: 0 auto;
}
.footer_min{
    text-align: center;
    line-height:30px;
    text-decoration: none !important;
}
.tz_footer a{
    text-decoration: none !important;
    color: #7E7E7E;
}
.tz_footer a:hover{
    text-decoration: none !important;
    color:#ffff !important;
    transition: 1s all;
}

.footer_min ul {
    list-style: none;
    text-align: center;
    margin-top: 35px;
    padding: 20px;
}
.footer_min li {
    display: inline-block;
    margin-right: 5px;
}
.footer_min li a{color:#cdcdcd !important;}

/* fourmdisplay */
#thread_types{border-top:none !important;}
.ttp .pipe {
    float: left;
    margin-right: 10px;
    padding: 0;
    width: 1px !important;
    height: 27px;
    background: #9E9E9E !important;
    text-indent: -9999px;
}
.tl .th {
    margin-top: 1px;
    padding: 0 10px;
    background: #F2F2F2;
}
#threadlist .bmw {
    border: 1px solid #E2E2E2  !important;
}
#threadlist.tl th a:visited, .tl td.fn a:visited {
    color: #666;
}
#threadlist.xi2 {
    color: #2e2e2e !important;
}

.tl .by {
    width: 135px  !important;
    line-height: 14px;
}
.tl .num {
    width: 90px  !important;
    line-height: 14px;
}
#threadlist.tl th, .tl td {
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5 !important;
}
#newspecial,#newspecialtmp,#post_reply,#post_replytmp{
display: block;
    width: 80px;
    height: 33px;
    background: #fd6440;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: 33px;
    text-decoration: none !important;
}
#f_pst .bm_c {
    padding: 20px;
    padding-bottom: 20px !important;
}
#autopbn {
    display: block;
    margin-bottom: 10px;
    border: 1px solid rgb(194,213,227);
    border-radius: 3px;
    text-align: center;
    border-bottom: 1px solid #C2D5E3 !important;
    height: 40px;
    line-height: 40px;
}


/* 贴内定义 */
.pls {
    width: 160px;
    background: #F2F2F2 !important;
    overflow: hidden;
    border-right: 1px solid #DDD !important;
}
.ad .pls {
    background: #DDD !important;
}
.ad .plc {
    background: #F2F2F2 !important;
}
.pi {
    border-bottom: 1px dashed #DDDDDD !important;
}
#modmenu{
    background: #fff;
    border: 1px #e5e5e5 solid !important;
    height: 20px;
    margin-bottom: 10px !important;
    line-height: 28px;
    padding-left: 10px;
}
.tedt {
    border-color: #DDD;
}

/* 修复页面 */
#nv_home .ct2_a .mn {
    display: inline;
    margin-right: 10px;
    padding-top: 10px;
    width: 900px;
}
#nv_home #ct{
    min-height: 300px;
    background: #FFF;
}
.pbr {
    height: 10px !important;
}
#nv_misc .ct2_a .mn {
    display: inline;
    margin-right: 10px;
    padding-top: 10px;
    width: 900px;
}
#nv_misc .biduser {
    background: none !important;
}
#nv_misc #ct {
    background: #FFF;
}
#space .wp{width:970px !important;}
#space #hd {height: 133px !important;}
#space  #nv li a:hover {background: none !important;}

/* 分区定义 */
#cony_bk .fl{border: none !important;background:none !important;}
#cony_bk .bm{background: #fff;margin-bottom: 20px;padding-bottom:30px;}
#cony_bk .fl .bm_h {
    background: none !important;
    border: none !important;
    padding:20px;
}
#cony_bk .bmw .bm_h a {
    color: #333;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    border-left: 3px solid #fd6440;
    padding-left: 15px;
}

/* DIY定义 */
.cony_diy{
    background-color: #fff;
    margin-bottom: 10px;
	width:1065px;
	height:320px;
}
.cony_diy_body{width:1025px;height:280px;margin:0 auto;padding-top: 20px;}
.cony_diy_right{float:right;width:533px;height:280px;}
.cony_diy_left{float:left;width:492px;height:280px;}
.cony_banner{ width:492px; height:280px; overflow:hidden; position:relative;}
		.cony_banner .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.cony_banner .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.cony_banner .hd ul li{
		display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #d0cdd1;
    background-color: #d0cdd1;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
		}
		.cony_banner .hd ul li.on{ background:#fd6440; color:#fff; }
		.cony_banner .bd{ position:relative; height:100%; z-index:0;   }
		.cony_banner .bd li{ zoom:1; vertical-align:middle; }
		.cony_banner .bd img{ width:492px; height:280px; display:block;  }

		.cony_banner .prev,
		.cony_banner .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
		.cony_banner .next{ left:auto; right:3%; background-position:8px 5px; }
		.cony_banner .prev:hover,
		.cony_banner .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.cony_banner .prevStop{ display:block;  }
		.cony_banner .nextStop{ display:block;  }

.cony_tab{ width:533px; height:280px;text-align:left;padding-left: 20px;box-sizing: border-box;  }
		.cony_tab .hd {
    height: 41px;
    line-height: 41px;
    background: transparent;
    width: 513px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    border-color: #f6f6f6;
}
		.cony_tab .hd ul{ float:left;  left:20px; top:-1px; height:41px;   }
		.cony_tab .hd ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: relative;
    line-height: 40px;
    min-width: 65px;
    text-align: center;
    cursor: pointer;
    width: 128px;
}

.cony_tab .hd ul li.on {
    height: 41px;
    background: #fff;
    border-bottom: 2px solid #fd6440;
    color: #fd6440;
}
.cony_tab .hd ul {
    float: left;
    left: 20px;
    top: -1px;
    height: 41px;
}
.cony_tab .bd li {
    line-height: 38px;
    height: 38px;
    border-bottom: 1px dashed #f2f2f2;
    padding: 0 10px;
    overflow: hidden;
}
.cony_tab .bd li a {
color: #707070;
    float: left;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
	text-decoration:none;
}
.cony_tab .bd ul {
    padding: 10px 0;
    zoom: 1;
}
.cony_tab .bd li:hover {
background-color: #f2f2f2;
}

		.cony_tab .bd li .date{ float:right; color:#999; font-size:13px; }


/* 版块定义 */
.cony_box{width:1065px !important;margin:0 auto;}
.cony_box li{width:328px;height:129px;border:1px solid #f5f5f5;float:left;margin:9px;}
.cony_box li:hover{border:1px solid #fd6440;}
.boxmin{width:300px;margin:0 auto;}
.boxtp{width:100%;height:70px;border-bottom:1px solid #f5f5f5;margin-top:20px;}
.boximg{width:60px;height:60px;float:left;}
.boximg img{width:60px;height:60px;border-radius:100%;}
.boxinfo{float:left;margin-left:10px;width:230px;}
.boxinfo span{
    font-size: 14px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
    height: 24px;
    float: left;
}
.boxinfo span a{text-decoration: none !important;}
.boxinfo cite{
    margin-bottom: 3px;
    width: 240px;
    float: left;
    font-size: 12px;
    color: #999;
    height: 40px;
    overflow: hidden;
    clear: both;
}
.boxsum{float:left;}
.boxrk{float:right;}
.boxsum span{
    color: #999;
    font-size: 12px;
    margin-left: 10px;
    line-height: 38px;
}
.boxrk i{
    line-height: 38px;
    color: #ccc;
    font-size: 12px;
    padding: 2.5px 4.5px;
}
.cony_box li:hover .boxrk i,.boxrk i:hover{
    line-height: 38px;
    font-size: 12px;
    background-color: #fd6440;
    color: #fff;
    padding: 2.5px 4.5px;
    border-radius: 2px;
}
.cony_box li:hover{opacity: 0.85;}
.boxrk i a{text-decoration: none !important;}
.boxdfaultimga{
    width: 60px;
    height: 60px;
    background: url(template/cony_xc/image/conypst.png)no-repeat;
    display: inline-block;
}
.boxdfaultimgb{
    width: 60px;
    height: 60px;
    background: url(template/cony_xc/image/conypstn.png)no-repeat;
    display: inline-block;
}


/* dr*/
.rfm {border-bottom:0px;font-size:14px;}
.rfm input{margin-left:10px;margin-right:10px;padding:10px;border-radius:10px;font-size:13px;}
.rfm input:focus{outline:none;}
.rfm select{margin-left:10px;margin-right:10px;padding:10px;border-radius:10px;font-size:13px;}
.rfm select:focus{outline:none;}
.rfm button {
    outline: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #CCCCCC;
    font-weight: 100;
}


#nv_group .ct2 .mn {
    width: 830px;
}